<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page</title>
	<script src = "https://cdn.jsdelivr.net/lodash/4.14.1/lodash.min.js"></script>
</head>
<body>
	<div id="container">
		<table id="table-cities" class="table">
		</table>
		<div id="form-input" class="form-input">
			<input id="city" class="form-input__fld-city" type="text">
			<input id="street" class="form-input__fld-str" type="text">
			<input id="count-house" class="form-input__fld-cnt" type="text">
			<button class="form-input__btn-add">Add</button>
		</div>
		<button id="srch-max">MAX</button>
		<button id="srch-min">MIN</button>
	</div>


	<script type="text/template" id="table-tmpl">
		<thead>
			<tr>
				<th>Id</th>
				<th>City</th>
				<th>Street</th>
				<th>CountOfHouses</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% _.forEach(city, function(item) { %>
				<tr data-id="<%-item.id%>">
					<td><%-item.id%></td>
					<td><%-item.city%></td>
					<td><%-item.street%></td>
					<td><%-item.countOfHouses%></td>
					<td><button class="table-cities__btn-del">X</button></td>
				</tr>
			<% }); %>
		</tbody>
	</script>

	<script src="script.js"></script>
</body>
</html>